[workspace]
resolver = "2"
members = [
  "decompiler"
, "decompiler_cli", "decompiler_gui", "decompiler_tester"]

[profile.dev.package]
gimli.opt-level = 3
slotmap.opt-level = 3
insta.opt-level = 3
egui.opt-level = 3
sha1.opt-level = 3
